<%- contentFor('HeaderCss') %>

<%- include("partials/title-meta", {"title": "Home"}) %>

<%- contentFor('body') %>
<%- include("partials/page-title", {"pagetitle":"Raw Stones", "title": "Home"}) %>
<div class="row">
    <div class="col-xl-12 col-lg-12">
        <div class="card">
            <div class="card-body">
                <div>
                    <div class="tab-content p-3 text-muted">
                        <div class="tab-pane active" id="popularity" role="tabpanel">
                            <div class="row">
                                <% for(var i = 0; i < 12; i++) { %>
                                    <div class="col-xl-2 col-sm-4">
                                        <a id="link-<%= i %>" href="/">
                                            <div class="product-box">
                                                <div id="ribbon-<%= i %>" class="product-ribbon">
                                                    - 20 %
                                                </div>
                                                <div class="product-img pt-4 px-4">
                                                    <img id="image-<%= i %>" src="/assets/images/product/img-1.png"
                                                         alt=""
                                                         class="img-fluid mx-auto d-block">
                                                </div>

                                                <div class="product-content p-4">
                                                    <div class="d-flex justify-content-between align-items-end">
                                                        <div>
                                                            <p id="title-<%= i %>" class="text-muted font-size-13">Gray,
                                                                Shoes</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                <% } %>
                            </div>
                            <!-- end row -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<%- contentFor('FooterJs') %>
<!-- nouisliderribute js -->
<script src="/assets/libs/nouislider/nouislider.min.js"></script>
<script src="/assets/libs/wnumb/wNumb.min.js"></script>

<!-- init js -->
<script src="/assets/js/pages/product-filter-range.init.js"></script>

<script>
    fetch('/get12BiggestStone', {
        method: 'GET',
        headers: {
            'Content-type': 'application/json; charset=UTF-8',
        }
    })
        .then(function (response) {
            return response.json()
        })
        .then(function (data) {
            console.log(data)
            for (let i = 0; i < data.length; i++) {
                const container = document.getElementById("ribbon-" + i)
                container.innerHTML = Math.round(100 - data[i].RapRate / data[i].PPC * 100) + "%"

                const tittle = document.getElementById("title-" + i)
                tittle.innerHTML = data[i].Size + " | " + data[i].DispColor + " | " + data[i].DispClarity + " | " + data[i].Flour + " | " + data[i].Cert
                load_image(data[i], i)
            }

        }).catch(error => console.log('Error:', error));


    async function load_image(data, index) {
        const url = '/stoneimage/' + data.StockRef

        const options = {
            method: "GET"
        }

        let response = await fetch(url, options)

        if (response.status === 200) {
            const imageBlob = await response.blob()
            const imageObjectURL = URL.createObjectURL(imageBlob);

            //const image = document.createElement('img')
            //image.src = imageObjectURL

            /*const container = document.getElementById("thumbnailVideo360")
            container.src = imageObjectURL*/
            const container = document.getElementById("image-" + index)
            container.src = imageObjectURL

            const containerHref = document.getElementById("link-" + index)
            containerHref.href = "/stones/" + data._id
        } else {
            console.log("HTTP-Error: " + response.status)
        }
    }

</script>
